body {
    background-image: url(../assets/background/leather-brown.jpg);
}

.class-detail-hidden {
    display: none;
}

.class-card-hidden {
    display: none;
}

.class-card {
    min-height: 328px;
}

.crest {
    height: 250px;
}

.style-card{
    background-image: url(../assets/background/map.jpg);
    border-radius: 10px;
}

.style-detail{
    background-image: url(../assets/background/map.jpg);
    background-size: cover;
    background-position: 25%;
    border-radius: 10px;
}

.image-detail{
    border-radius: 10px , 0px, 0px, 10px;
}