.background {
    background-image: url("../asset/background/map.jpg");
    background-position: top;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.intro-text {
    max-width: 600px;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
}
