@font-face {
    font-family: Lifecraft;
    src: url(../assets/font/LifeCraft_Font.ttf);
}

body {
    background-color: #0E0E0E;
}
/* General */
.ff-lifecraft {
    font-family: Lifecraft;
}

.text-white {
    color: white;
}

.border-white {
    border-color: white;
}

.mt--5 {
    margin-top: -3rem;
}


/* Header */
.header-logo {
    height: 40px;
}
.header-footer-color {
    background-color: #111111;
}





